.seolist {
  column-count: 4;
  &__item {
    .link {
      color: #000;
      cursor: pointer;
    }
    .link:hover {
      color: #337ab7;
    }
    button {
      opacity: 0;
    }
  }
  &__item:hover {
    button {
      opacity: 1;
    }
  }
}
.list {
  margin-bottom: 20px;
  column-count: 7;
  font-size: 12px;
  &__item {
    &__title {
      cursor: pointer;
    }
    &__zone {
      padding-left: 10px;
      color: #2e6da4;
      cursor: pointer;
    }
  }
}
.lvlup {
  font-size: 24px;
  cursor: pointer;
}
.lvlup:hover {
  color: #1c93f0;
}