<div *ngIf="!showEdit">
  <button class="btn btn-success mb-3" (click)="createNew()">Создать</button>
  <ul class="list-unstyled seolist">
    <li class="seolist__item" *ngFor="let seo of dataseo; index as i">
      <span class="link" (click)="openEdit(i)">{{seo.url}}</span>
      <!--<button class="btn btn-danger btn-go" (click)="deleteSeobyIndex(i)">&#10008;</button>-->
    </li>
  </ul>
</div>
<form *ngIf="showEdit" (ngSubmit)="onSubmit()" class="col-12">
  <button type="submit" class="btn btn-success" [disabled]="data.hb_id == '' || data.our_id == ''">Сохранить</button>
  <button *ngIf="editId" type="button" class="btn btn-danger" (click)="deleteSeobyId(editId)">Удалить</button>
  <button type="button" class="btn btn-info" (click)="showEdit = false; editId = undefined">Назад</button>
  <div class="form-group col-7 mt-2 d-flex row">
    <label class="col-3 text-right">URL</label>
    <input class="col-3 form-control" name="url" [(ngModel)]="data.url">
    <label class="col-3 text-right">Тип</label>
    <select class="col-3 form-control" name="type" [(ngModel)]="data.type" (ngModelChange)="typeChange()">
      <option *ngFor="let type of typeEnum" [value]="type">{{type}}</option>
    </select>
  </div>
  <div class="form-group mt-2 col-7 d-flex row" *ngIf="data.type !== typeEnum[3]" (click)="hidelist = !hidelist">
    <label class="col-6 text-right">Код в системе Hotelbeds</label>
    <input class="col-6 form-control" disabled name="hb_id" [(ngModel)]="data.hb_id">
  </div>
  <div class="col-12"> <!--  [hidden]="hidelist" -->
    <div class="list" *ngIf="destinationsList === countries; else zones">
      <span *ngFor="let country of destinationsList" class="list__item">
        <div class="list__item__title" (click)="clickHBid(country.code, 'country')">{{country.title}}</div>
      </span>
    </div>
    <ng-template #zones>
      <span (click)="lvlup()" class="lvlup">...</span>
      <div class="list">
        <span *ngFor="let destination of destinationsList.destinations" class="list__item">
          <div class="list__item__title" (click)="clickHBid(destination.code, 'region')">{{destination.title}}</div>
          <div class="list__item__zone" *ngFor="let zone of destination.zones" (click)="clickHBid(zone.code, 'city')">{{zone.title}}</div>
        </span>
      </div>
    </ng-template>
  </div>
  <tabset type="pills col-7">
    <tab heading="UA">
      <div class="form-group row">
        <label>Название</label>
        <input class="form-control" name="title_ua" [(ngModel)]="data.title_ua">
      </div>
      <div class="form-group row">
        <label>Мета описание</label>
        <textarea rows="3" class="form-control" name="meta_ua" [(ngModel)]="data.meta_ua"></textarea>
      </div>
      <div class="form-group row">
        <label>Описание</label>
        <textarea rows="3" class="form-control" name="description_ua" [(ngModel)]="data.description_ua"></textarea>
      </div>
    </tab>
    <tab heading="EN">
      <div class="form-group row">
        <label>Название</label>
        <input class="form-control" name="title_en" [(ngModel)]="data.title_en">
      </div>
      <div class="form-group row">
        <label>Мета описание</label>
        <textarea rows="3" class="form-control" name="meta_en" [(ngModel)]="data.meta_en"></textarea>
      </div>
      <div class="form-group row">
        <label>Описание</label>
        <textarea rows="3" class="form-control" name="description_en" [(ngModel)]="data.description_en"></textarea>
      </div>
    </tab>
    <tab heading="RU">
      <div class="form-group row">
        <label>Название</label>
        <input class="form-control" name="title_ru" [(ngModel)]="data.title_ru">
      </div>
      <div class="form-group row">
        <label>Мета описание</label>
        <textarea rows="3" class="form-control" name="meta_ru" [(ngModel)]="data.meta_ru"></textarea>
      </div>
      <div class="form-group row">
        <label>Описание</label>
        <textarea rows="3" class="form-control" name="description_ru" [(ngModel)]="data.description_ru"></textarea>
      </div>
    </tab>
  </tabset>
</form>
