<div class="container-fluid">
  <div class="row">
    <form class="col-12" class="mb-3 pl-3 pr-3 pt-3 bg-warning" (ngSubmit)="onSubmit()">
      <div class="search row">
        <div class="form-group col-3">
          <label class="mb-0">Ключевые слова</label>
          <input name="keywords" [(ngModel)]="searchForm.keywords" class="search-input form-control">
        </div>
        <div class="form-group col-2">
          <label class="mb-0">Тип поиска</label>
          <select name="s_by" [(ngModel)]="searchForm.s_by" class="search-input form-control">
            <option value="booking">Даты бронирования</option>
            <option value="checkIn">Даты заезда</option>
            <option value="checkOut">Даты отъезда</option>
          </select>
        </div>
        <div class="form-group col-3">
          <label class="mb-0">От</label>
          <input type="text"
                 autocomplete="off"
                 class="form-control search-input"
                 (bsValueChange) = dateChanged($event)
                 [bsConfig]="bsConfig"
                 #dp="bsDatepicker"
                 bsDatepicker
                 name="from"
                 [(ngModel)]="searchForm.from">
        </div>
        <div class="form-group col-3">
          <label class="mb-0">До</label>
          <input type="text"
                 autocomplete="off"
                 [minDate]="minDate"
                 class="form-control search-input"
                 [bsConfig]="bsConfig"
                 #dp="bsDatepicker"
                 bsDatepicker
                 name="to"
                 [(ngModel)]="searchForm.to">
        </div>
        <div class="form-group col-1 d-flex">
          <button class="btn btn-bronirovka align-self-end">Поиск</button>
        </div>
        <div class="col-3">
          <label>
            <input type="radio" name="hb" [value]="true" [(ngModel)]="searchHB">
            <span class="ml-3">Искать отели HB</span>
          </label>
        </div>
        <div>
          <label class="ml-3">
          <input type="radio" name="hb" [value]="false" [(ngModel)]="searchHB">
            <span class="col-3">Искать наши отели</span>
          </label>
        </div>
      </div>
    </form>
    <div class="col-12">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover booking-table">
        <thead>
        <tr>
          <th>Id</th>
          <th>Врямя бронирования</th>
          <th>Дата заезда</th>
          <th>Дата отъезда</th>
          <th>Бронировщик</th>
          <th>Гости</th>
          <th>Статус</th>
          <th>Цена<br><span class="th-add">бронь</span></th>
          <th>Цена<br><span class="th-add">незаезд</span></th>
          <th>Цена<br><span class="th-add">отмена</span></th>
          <th>Цена<br><span class="th-add">коммисия</span></th>
          <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="bookings && bookings?.booking.length > 0">
          <tr *ngFor="let book of bookings.booking; index as i">
            <td class="id">
              <span hidden class="new-booking"></span> <!-- *ngIf="!book.isVeawed" -->
              <span (click)="openFullInfo(book.id)">{{book.id}}</span>
            </td>
            <td>{{book.bookingDate}}</td>
            <td><span class="date"><div *ngFor="let date of book.rooms">{{date.checkIn}}</div></span></td>
            <td><span class="date"><div *ngFor="let date of book.rooms">{{date.checkOut}}</div></span></td>
            <td><span *ngIf="book.user && book.user.name">{{book.user.name}} {{book.user.surname}}</span></td>
            <td>
              <ng-container *ngIf="book.guests">
                <span *ngFor="let guest of book.guests; index as g"><span *ngIf="g > 0">, </span><span class="guest-name">{{guest.name}}</span></span>
              </ng-container>
            </td>
            <td [ngClass]="{'confirmed': book.status === 'CONFIRMED', 'notconfirmed': book.status === 'CANCELED_BY_HOTEL'}">{{book.status}}</td>
            <td *ngIf="book.priceForCommition > 0; else pricenone" class="price">{{book.priceForCommition | number}}</td>
            <td *ngIf="book.priceOfNoShow > 0; else pricenone" class="price">{{book.priceOfNoShow | number}}</td>
            <td *ngIf="book.priceOfCanceld > 0; else pricenone" class="price">{{book.priceOfCanceld | number}}</td>
            <td *ngIf="book.commission > 0; else pricenone" class="price">{{book.commission | number}}</td>
            <ng-template #pricenone>
              <td class="price">-</td>
            </ng-template>
            <td>
              <div class="bookingtable-buttons">
                <button (click)="openFullInfo(book.id)" class="bookingtable-buttons__button edit"><i class="fa fa-info"></i></button>
              </div>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
