
<form (ngSubmit)="onSubmit()">
  <div class="edit d-flex justify-content-between">
    <div class="d-flex">
      <label>Seo-название</label>
      <input class="form-control" name="seo" [(ngModel)]="data.seo">
    </div>
    <div>
      <button type="submit" class="btn btn-success btn-go" title="сохранить">&#10004;</button>
      <button type="button" (click)="deleteInfoPage()" [disabled]="!data.id" class="btn btn-danger btn-go" title="Удалить">&#10008;</button>
    </div>
  </div>
  <hr>
  <tabset type="pills">
    <tab heading="RU">
      <div class="form-group mt-2 d-flex">
        <label>Название</label>
        <input class="w-25 form-control" name="title_ru" [(ngModel)]="data.title_ru">
      </div>
      <div class="form-group">
        <label>Содержание</label>
        <div [froalaEditor]="options" name="editor_ru" [(froalaModel)]="data.content_ru"></div>
      </div>
    </tab>
    <tab heading="UA">
      <div class="form-group mt-2 d-flex">
        <label>Название</label>
        <input class="w-25 form-control" name="title_ua" [(ngModel)]="data.title_ua">
      </div>
      <div class="form-group">
        <label>Содержание</label>
        <div [froalaEditor]="options" name="editor_ua" [(froalaModel)]="data.content_ua"></div>
      </div>
    </tab>
    <tab heading="EN">
      <div class="form-group mt-2 d-flex">
        <label>Название</label>
        <input class="w-25 form-control" name="title_en" [(ngModel)]="data.title_en">
      </div>
      <div class="form-group">
        <label>Содержание</label>
        <div [froalaEditor]="options" name="editor_en" [(froalaModel)]="data.content_en"></div>
      </div>
    </tab>
  </tabset>
</form>
