<div class="overlay-login"></div>
<div class="container">
  <div class="row">
    <div class="login-form card col-12 col-sm-6 offset-sm-3 col-md-4 offset-md-4">
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submitLoginForm()">
          <div>
            <div class="form-group">
              <label class="form-text" for="login">Логин</label>
              <input type="text"  #login="ngModel" name="login" class="form-control" placeholder="ID" id="login" [(ngModel)]="loginForm.login" required>
            </div>
            <div class="form-group">
              <label class="form-text" for="password">Пароль</label>
              <input #password="ngModel" [(ngModel)]="loginForm.password" class="form-control" placeholder="Пароль" id="password" name="password" type="password" required>
            </div>
            <button  type="submit" class="btn btn-login btn-block">Ввойти</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
