<div class="container-fluid">
  <div class="card bg-warning col-12 mb-3">
    <form (submit)="onSubmit()" class="row card-body">
      <div class="col-3">
        <div class="form-text">Название</div>
        <input name="title" class="form-control" [(ngModel)]="searchForm.title">
      </div>
      <div class="col-2">
        <div class="form-text">Статус</div>
        <select name="status" class="form-control" [(ngModel)]="searchForm.status">
          <option value="">Все</option>
          <option value="NOT_CONFIRMED">Не подтверждены</option>
          <option value="BLOCKED">Заблокированы</option>
          <option value="CONFIRMED">Подтверждены</option>
        </select>
      </div>
      <div class="col-2">
        <div class="form-text">Тип</div>
        <select name="type" class="form-control" [(ngModel)]="searchForm.type">
          <option [value]="0">все типы</option>
          <option *ngFor="let type of hotelTypes" [value]="type.id">{{type.title}}</option>
        </select>
      </div>
      <div class="col-2">
        <div class="form-text">От</div>
        <input type="text"
               class="form-control search-input"
               (bsValueChange) = dateChanged($event)
               [bsConfig]="bsConfig"
               #dp1="bsDatepicker"
               bsDatepicker
               name="from"
               [(ngModel)]="searchForm.from">
      </div>
      <div class="col-2">
        <div class="form-text">До</div>
        <input type="text"
               class="form-control search-input"
               (bsValueChange) = dateChanged($event)
               [bsConfig]="bsConfig"
               [minDate]="mindate"
               #dp2="bsDatepicker"
               bsDatepicker
               name="to"
               [(ngModel)]="searchForm.to">
      </div>
      <div class="col-1 d-flex align-items-end">
        <button type="submit" class="btn btn-info">Найти</button>
      </div>
      <div class="col-12 mt-2">
        <app-hotels-theme-icon *ngFor="let theme of themeList" [name]="theme.title" [active]="searchForm.themes.includes(theme.id)" (click)="searchTheme(theme.id)"></app-hotels-theme-icon>
      </div>
    </form>
  </div>
</div>
<div class="container-fluid">
  <div class="form-group">
    Показать
    <select class="ml-1 mr-1" [(ngModel)]="searchForm.limit" (ngModelChange)="onchangeLimit()">
    <option *ngFor="let lim of limitList" [value]="lim">{{lim}}</option>
    </select>
    отелей
  </div>
  <table *ngIf="hotelslist && hotelTypes" class="table table-bordered">
    <thead class="bg-secondary text-white">
    <tr>
      <th>id</th>
      <th>название</th>
      <th>тип</th>
      <th>звезды</th>
      <th>регистрация</th>
      <th>страна</th>
      <th>статус</th>
      <th>действия</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hotel of hotelslist; index as i">
      <td (click)="openHotel(hotel.id, i)">
        <span title="получить token объекта" class="link">{{hotel.id}}</span>
        <button  *ngIf="hotel.token" class="btn btn-go btn-success" ngxClipboard [cbContent]="hotel.token" title="скопировать token и перейти" (click)="goHotel()">&#10140;</button>
        <button  *ngIf="hotel.token" class="btn btn-go btn-warning" ngxClipboard [cbContent]="hotel.token" title="скопировать token в буфер обмена">&#9426;</button>
      </td>
      <td>{{hotel.title}}</td>
      <td class="themes">
        <div>{{hotel.type.title}}</div>
        <span><fa-icon [icon]="plusIcon" (click)="openTheme(i)" [title]="'добавить тему отеля'" [classes]="['text-success', 'pointer']"></fa-icon></span>
        <app-hotels-theme-icon *ngFor="let theme of hotel.themes" [name]="themeTitle(theme)" [active]="true" ></app-hotels-theme-icon>
      </td>
      <td><fa-icon *ngFor="let star of hotel.star" [icon]="starIcon" [classes]="['text-warning']"></fa-icon></td>
      <td><div *ngIf="hotel.user">{{hotel.user.registrationDate | date: 'dd MM yyyy'}}</div></td>
      <td>{{hotel.country.title}}</td>
      <td [ngSwitch]="hotel.status">
        <span *ngSwitchCase="'CONFIRMED'" class="text-success">Подтвержден</span>
        <span *ngSwitchCase="'BLOCKED'" class="text-danger">Заблокирован</span>
        <span *ngSwitchCase="'NOT_CONFIRMED'">Не подтвержден</span>
        <span *ngSwitchCase="'ACTIVE'">Активен</span>
        <span *ngSwitchDefault>{{hotel.status}}</span>
      </td>
      <td>
        <button (click)="hotelConfirm(hotel.id, i)" [disabled]="hotel.status === 'CONFIRMED'" class="btn btn-success btn-go" title="подтвердить или разблокировать">&#10004;</button>
        <button (click)="hotelBlocked(hotel.id, i)" [disabled]="hotel.status === 'BLOCKED'" class="btn btn-danger btn-go" title="заблокировать">&#10008;</button>
        <button (click)="hotelEdit(hotel.id)" class="btn btn-info btn-go" title="редактировать"><span class="rotate-135">&#9999;</span></button>
      </td>
    </tr>
    </tbody>
  </table>
  <!--<div *ngIf="hotelslist && hotelslist.length > 0" class="col-12 text-center">-->
    <!--<pagination [boundaryLinks]="true" [(ngModel)]="page" [itemsPerPage]="showLimit" [totalItems]="105"></pagination>-->
  <!--</div>-->
</div>
<div *ngIf="openModalHotelTheme" class="modal-theme">
  <div class="modal-theme__block">
    <div class="modal-theme__block__title">{{openhoteltheme.title}}</div>
    <div class="close" (click)="openModalHotelTheme = false">&#10008;</div>
    <hr>
    <app-hotels-theme-icon *ngFor="let theme of themeList" [name]="theme.title" [active]="hotelslist[openhoteltheme.index].themes.includes(theme.id)" (click)="HotelTheme(theme.id)"></app-hotels-theme-icon>
  </div>
</div>
