.link {
  color: cornflowerblue;
  cursor: pointer;
}
.link:hover {
  color: blue;
}
.table td {
  padding: 3px 10px;
}
.themes {
  line-height: 1;
  app-hotels-theme-icon {
    font-size: 12px;
  }
}
.modal-theme {
  width: 400px;
  position: fixed;
  left: calc(50% - 200px);
  top: calc(50% - 100px);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  &__block {
    position: relative;
    padding: 15px;
    &__title {
      margin-right: 20px;
      font-size: 16px;
      font-weight: bold;
    }
    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 18px;
      opacity: 0.3;
      cursor: pointer;
    }
  }
}
.rotate-135 {
  transform: rotate(135deg);
  display: inline-block;
  top: 1px;
  position: relative;
}
