<div class="row">
  <div class="col-2">
    <div class="list-group">
      <a [routerLink]="['./seo']" [routerLinkActive]="['bg-success', 'text-light']" class="p-2">
        Seo страницы
      </a>
      <a [routerLink]="['./info-page']" [routerLinkActive]="['bg-success', 'text-light']" class="p-2">
        Информационные страницы
      </a>
      <ul *ngIf="list && list.length > 0">
        <li *ngFor="let item of list">
          <a [routerLink]="['./info-page', item.id]" [routerLinkActive]="['text-dark']" class="p-1">
            {{item.seo}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>
