<nav class="navbar bg-info head text-light container-fluid">
  <div class="head-content row ml-3 mr-3">
    <a class="navbar-brand">BRONIROVKA.UA</a>
  </div>
  <div *ngIf="!outlogin" (click)="logout()" class="nav-item logout">Выйти</div>
</nav>
<div class="container-fluid mb-3 bg-secondary menu">
  <div class="col-12 d-flex align-items-stretch">
    <a class="text-light p-2" *ngIf="auth.isAuthorized.value === 'admin'" [routerLink]="['/hotels']" [routerLinkActive]="['bg-dark']">
      Отели
    </a>
    <a class="text-light p-2" *ngIf="auth.isAuthorized.value === 'admin'" [routerLink]="['/bookings']" [routerLinkActive]="['bg-dark']">
      Бронирования
    </a>
    <a class="text-light p-2" [routerLink]="['/booking']" [routerLinkActive]="['bg-dark']">
      Найти бронирование
    </a>
    <a class="text-light p-2" *ngIf="auth.isAuthorized.value === 'admin'" [routerLink]="['/add']" [routerLinkActive]="['bg-dark']">
      Дополнительно
    </a>
    <a class="text-light p-2" *ngIf="auth.isAuthorized.value === 'admin'" [routerLink]="['/users']" [routerLinkActive]="['bg-dark']">
      Пользователи
    </a>
  </div>
</div>
<div class="container-fluid content">
  <router-outlet></router-outlet>
</div>

