<div class="booking-content">
  <div class="booking">
    <div class="container-fluid">
      <form (ngSubmit)="searchBooking()" class="form-group row">
        <div class="col-4">
          <label class="form-text">ID бронирования</label>
          <input name="bookid" class="form-control" [(ngModel)]="bookid">
        </div>
        <div class="col-3 d-flex align-items-end">
          <button type="submit" class="btn btn-info">Найти</button>
        </div>
      </form>
    </div>
    <div class="container-fluid" *ngIf="info">
      <div id="section-to-print" [ngClass]="{'mt-3': bookid}" class="row w-100 m-0">
        <div *ngIf="!info.bb; else bbheadtemp" class="page-heading col-12">
          <h1 class="page-title">
            Имя гостя(гостей):
            <span *ngFor="let rooma of info.rooms; index as j" class="d-inline-block">
              <span *ngIf="j > 0" class="d-inline-block mr-2">,</span><span *ngIf="rooma.guests[0] && rooma.guests[0].name" class="d-inline-block">{{rooma.guests[0].name}}</span>
            </span>
          </h1>
          <h3 class="sub-title">(Имя бронировавшего: <i *ngIf="info.user.gender && info.user.gender === 'M'" class="mr-2 fa fa-male"></i><i *ngIf="info.user.gender && info.user.gender === 'F'" class="mr-2 fa fa-female"></i>{{info.user.name}} {{info.user.surname}})</h3>
          <p class="book-total">{{info.rooms.length}} номер(a) &#9679; {{info.fullprice}} {{currency}}</p>
          <p class="order-detalis">
            <span *ngIf="info.user.country">{{info.user.country}}</span>
            <span><i class="fa fa-phone"></i> {{info.user.phone}} <i class="fa fa-envelope"></i><a> {{info.user.email}}</a></span>
            <span><i class="fa fa-clock-o"></i> {{info.date | date: 'dd MMMM yyyy  HH:mm' }} <i>#</i>{{info.id}}</span>
          </p>
          <p class="order-detalis">
            <span>{{info.hotel.title}} #{{info.hotel.id}}</span>
            <span *ngIf="info.goal !== ''">Цель поездки - <b *ngIf="info.goal === 'W'">работа</b><b *ngIf="info.goal === 'L'">отдых</b></span>
            <span [ngClass]="{'status-confirm':info.status === 'CONFIRMED', 'status-canceled': info.status === 'CANCELED_BY_HOTEL' || info.status === 'CANCELD_BY_USER'}" [ngSwitch]="info.status">
              <span *ngSwitchCase="'CONFIRMED'">Подтверждено</span>
              <span *ngSwitchCase="'BOOKED'">Забронировано</span>
              <span *ngSwitchCase="'NO_SHOW'">Не заезд</span>
              <span *ngSwitchCase="'CANCELD_BY_USER'">Отменено клиентом</span>
              <span *ngSwitchCase="'CANCELED_BY_HOTEL'">Отменено отелем</span>
              <span *ngSwitchCase="'CHANGED_BY_USER'">Изменено клиентом</span>
              <span *ngSwitchCase="'CHANGED_BY_HOTEL'">Измено отелем</span>
              <span *ngSwitchDefault>статус</span>
            </span>
          </p>
        </div>
        <ng-template #bbheadtemp>
          <div class="page-heading col-12">
            <h1 class="page-title">Имя гостя(гостей):
              <span *ngFor="let rooma of info.hotel.rooms; index as j" class="d-inline-block">
                <span *ngIf="j > 0" class="d-inline-block mr-2">,</span><span class="d-inline-block">{{rooma.paxes[0].name}} {{rooma.paxes[0].surname}}</span>
              </span>
            </h1>
            <h3 class="sub-title">(Имя бронировавшего: {{info.holder.name}} {{info.holder.surname}})</h3>
            <p class="book-total">{{info.hotel.rooms.length}} номер(a) &#9679; {{info.totalNet}} {{info.currency}}</p>
            <p class="order-detalis">
              <span>{{info.hotel.destinationName}}</span>
              <span><i class="fa fa-clock-o"></i> {{info.creationDate | date: 'dd MMMM yyyy' }} <i>#</i>{{info.id}}</span>
            </p>
            <p class="order-detalis">
              <span>{{info.hotel.name}} #{{info.hotel.code}}</span>
              <span [ngClass]="{'status-confirm':info.status === 'CONFIRMED', 'status-canceled': info.status === 'CANCELED_BY_HOTEL' || info.status === 'CANCELD_BY_USER'}" [ngSwitch]="info.status">
              <span *ngSwitchCase="'CONFIRMED'">Подтверждено</span>
              <span *ngSwitchCase="'BOOKED'">Забронировано</span>
              <span *ngSwitchCase="'NO_SHOW'">Не заезд</span>
              <span *ngSwitchCase="'CANCELD_BY_USER'">Отменено клиентом</span>
              <span *ngSwitchCase="'CANCELED_BY_HOTEL'">Отменено отлем</span>
              <span *ngSwitchCase="'CHANGED_BY_USER'">Изменео клиентом</span>
              <span *ngSwitchCase="'CHANGED_BY_HOTEL'">Изменено отелем</span>
              <span *ngSwitchDefault>{{info.status}}</span>
            </span>
            </p>
          </div>
        </ng-template>
      </div>
      <div *ngIf="!info.bb; else bborder" class="row order-confirm">
        <div class="col-md-7">
          <table *ngFor="let room of info.rooms; index as i" class="table table-striped table-bordered table-booking">
            <thead class="table-head">
            <tr>
              <td>Номер {{i + 1}}</td>
              <td>{{room.title.title}}</td>
            </tr>
            </thead>
            <tbody>
            <tr class="table-booking-tr">
              <td><b>Имя гостя</b></td>
              <td><b *ngIf="room.guests[0]">{{room.guests[0].name}}</b></td>
            </tr>
            <tr class="table-booking-tr">
              <td>Заезд</td>
              <td>{{room.checkIn | date: 'dd-MM-yyyy'}}</td>
            </tr>
            <tr class="table-booking-tr">
              <td>Выезд</td>
              <td>{{room.checkOut | date: 'dd-MM-yyyy'}}</td>
            </tr>
            <tr class="table-booking-tr">
              <td>Количество людей</td>
              <td>{{room.guestCount}}</td>
            </tr>
            <tr class="table-booking-tr">
              <td>Количество ночей</td>
              <td>{{room.days.length}}</td>
            </tr>
            <tr class="table-booking-tr">
              <td>Полная стоимость, подтвержденная гостю</td>
              <td class="inner-table">
                <table class="w-100 table-striped">
                  <tr>
                    <td>Стоимость номера</td>
                    <td>{{room.fullroomprice}} {{currency}}</td>
                  </tr>
                  <!--<tr>-->
                  <!--<td>{{'bookingtable_tax' | translate}} {{info.hotel.payment.tax}}%</td>-->
                  <!--<td>{{room.fullroomprice * info.hotel.payment.tax / 100}} {{currency}}</td>-->
                  <!--</tr>-->
                  <tr *ngIf="room.nutritions[0]">
                    <td>Цена питпния</td>
                    <td>{{room?.nutritions[0].price}} {{currency}}</td>
                  </tr>
                  <tr>
                    <td>Итоговая сумма подтвержденная гостю</td>
                    <td class="total">{{room.fullroomprice + room.nutritions[0]?.price}} {{currency}}</td>
                    <!--<td class="total" *ngIf="!info.hotel.payment.isTaxIncluded">{{room.fullroomprice + room.nutritions[0]?.price + room.fullroomprice * info.hotel.payment.tax / 100}} {{currency}}</td>-->
                  </tr>
                </table>
              </td>
            </tr>
            <tr class="table-booking-tr">
              <td>Цена за ночь</td>
              <td class="inner-table">
                <table border="0" class="w-100 table-striped">
                  <tr class="bg-lidht-gray">
                    <th>Дата</th>
                    <th>Цена</th>
                    <th>Тариф</th>
                  </tr>
                  <tr *ngFor="let day of room.days">
                    <td class="nowrap">{{day.date | date: 'dd MMMM yy'}}</td>
                    <td>{{day.price}} {{currency}}</td>
                    <td [ngSwitch]="room.tariff.type">
                      <span *ngSwitchCase="'STANDART'">Стандартный</span>
                      <span *ngSwitchDefault>Невозвратный</span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr *ngIf="room.nutritions[0]" class="table-booking-tr">
              <td>Питпние</td>
              <td class="inner-table">
                <table class="w-100 table-striped">
                  <tr class="bg-lidht-gray">
                    <th>Тип</th>
                    <th>Гостей</th>
                    <th>Дни</th>
                    <th>Цена</th>
                  </tr>
                  <tr>
                    <td>{{room.nutritions[0].type}}</td>
                    <td>{{room.nutritions[0].guestCount}}</td>
                    <td>{{room.nutritions[0].days}}</td>
                    <td>{{room.nutritions[0].price}} {{currency}}</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr class="table-booking-tr">
              <td>Порядок отмены бронирования</td>
              <td><span class="deny-rules">
                В случае омены или изменения бронирования в срок свыше 1 суток до даты заезда штраф не взымается.<br>Вслучае отмены или изменения бронирования позднее этого срока или в случае незаезда взымается стоимость первой ночи проживания.
              </span></td>
            </tr>
            <tr class="table-booking-tr">
              <td>Предоплата</td>
              <td>
                <span *ngIf="room.tariff.type === 'STANDART'">Предоплата не взымается</span>
                <span *ngIf="room.tariff.type !== 'STANDART'">Предоплата взымается</span>
              </td>
            </tr>
            <tr class="table-booking-tr">
              <td>Статус</td>
              <td [ngClass]="{'status-room-confirm':room.status === 'CONFIRMED', 'status-room-canceled': room.status === 'CANCELED_BY_HOTEL'}">{{room.status}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-5">
          <table class="table-booking table table-striped table-bordered">
            <thead class="table-head">
            <tr><td>Сообщение гостя</td></tr>
            </thead>
            <tbody>
            <tr class="table-booking-tr">
              <td>
                <p *ngIf="info.comment" class="message-area">{{info.comment}}</p>
                <p *ngIf="!info.comment" class="message-area"></p>
              </td>
            </tr>
            </tbody>
          </table>
          <table *ngIf="info.hotel.policy" class="table-booking table table-striped table-bordered">
            <thead class="table-head">
            <tr><td colspan="2">Правила и условия</td></tr>
            </thead>
            <tbody>
            <tr class="table-booking-tr">
              <td class="pointer">Размещение детей и предоставление дополнительных кроватей</td>
              <td><p class="mb-1" *ngFor="let child of info.hotel.policy.children" [ngSwitch]="child.bad">
                Детям с {{child.ageFrom}} до {{child.ageTo}} предоставляется проживание на <span *ngSwitchCase="'AVAILABLE_BEDS'">доступных кроватях</span><span *ngSwitchCase="'EXTRA_BEDS'">дополнительных кроватях</span><span *ngSwitchCase="'CHILDRENS_BEDS'">детских кроватях</span><span *ngIf="child.price > 0"> за {{child.price}}</span><span *ngIf="child.price === 0"> безплатно</span>
              </p></td>
            </tr>
            <tr class="table-booking-tr">
              <td class="pointer">Интернет</td><!-- <span *ngSwitchCase="'FREE'"></span><span *ngSwitchCase="'PAID'"></span><span *ngSwitchCase="'NO'"></span>-->
              <td [ngSwitch]="info.hotel.facility.internet.access">
                <span *ngSwitchCase="'FREE'">
                  Доступен безплатный
                  <span *ngIf="info.hotel.facility.internet.type === 'WI-FI'"> wi-fi </span>
                  <span *ngIf="info.hotel.facility.internet.type === 'CABLE'"> кабельный интернет </span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'ALL_ROOMS'">во всех комнатах</span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'SOME_ROOMS'">только в некоторых комнатах</span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'PUBLIC_AREAS'">в общественных местах</span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'EVERYWHERE'">везде на територии отеля</span>
                </span>
                <span *ngSwitchCase="'PAID'">
                  Платный
                  <span *ngIf="info.hotel.facility.internet.type === 'WI-FI'"> wi-fi </span>
                  <span *ngIf="info.hotel.facility.internet.type === 'CABLE'"> кабельный интернет </span>
                  предоставлятся
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'ALL_ROOMS'">во всех комнатах</span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'SOME_ROOMS'">только в некоторых комнатах</span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'PUBLIC_AREAS'">в общественных местах</span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'EVERYWHERE'">везде на територии отеля</span>
                </span>
                <span *ngSwitchCase="'NO'">Интернет отсутствует</span>
              </td>
            </tr>
            <tr class="table-booking-tr">
              <td class="pointer">Услуги по парковке автомобилей</td>
              <td [ngSwitch]="info.hotel.facility.parking.type">
                В отеле <span *ngSwitchCase="'FREE'">безплатная</span><span *ngSwitchCase="'PAID'">платная</span><span *ngSwitchCase="'NO'">отсутствует</span> парковка <span *ngIf="info.hotel.facility.parking.price && info.hotel.facility.parking.price > 0">за {{info.hotel.facility.parking.price}}</span>
              </td>
            </tr>
            <tr class="table-booking-tr">
              <td class="pointer">Размещение домашних животных</td>
              <td [ngSwitch]="info.hotel.policy.animals">
                <span *ngSwitchCase="'FORBIDDEN'">Проживание животных в номере запрещено</span>
                <span *ngSwitchCase="'ALLOWED'">Проживание животных в номере разрешено</span>
                <span *ngSwitchCase="'NEED_CONFIRMATION'">Для проживания животных в номере нужно разрешение администрации</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <ng-template #bborder>
        <div class="row order-confirm">
          <div *ngFor="let room of info.hotel.rooms; index as i" class="col-md-6">
            <table class="table table-striped table-bordered table-booking">
              <thead class="table-head">
              <tr>
                <td>Комната {{i + 1}}</td>
                <td>{{room.name}}</td>
              </tr>
              </thead>
              <tbody>
              <tr class="table-booking-tr">
                <td><b>Имя гостя</b></td>
                <td><b>{{room.paxes[0].name}} {{room.paxes[0].surname}}</b></td>
              </tr>
              <tr class="table-booking-tr">
                <td>Заезд</td>
                <td>{{info.hotel.checkIn | date: 'dd-MM-yyyy'}}</td>
              </tr>
              <tr class="table-booking-tr">
                <td>Выезд</td>
                <td>{{info.hotel.checkOut | date: 'dd-MM-yyyy'}}</td>
              </tr>
              <tr class="table-booking-tr">
                <td>Количество людей</td>
                <td>{{room.rates[0].adults + room.rates[0].children}}</td>
              </tr>
              <tr class="table-booking-tr">
                <td>Полная стоимость, подтвержденная гостю</td>
                <td>{{room.rates[0].net}} {{info.currency}}</td>
              </tr>
              <tr class="table-booking-tr">
                <td>Питание</td>
                <td [ngSwitch]="room.rates[0].boardName">
                  <span *ngSwitchCase="'BED AND BREAKFAST'">Завтрак</span>
                  <span *ngSwitchCase="'HALF BOARD'">Полупансион</span>
                  <span *ngSwitchCase="'FULL BOARD'">Пансион</span>
                  <span *ngSwitchCase="'ROOM ONLY'">нет</span>
                </td>
              </tr>
              <tr class="table-booking-tr">
                <td>Порядок отмены бронирования</td>
                <td><span class="deny-rules">{{room.rates[0].cancellationPolicies[0].amount}} {{info.currency}} с {{room.rates[0].cancellationPolicies[0].from | date: 'dd-MM-yyyy HH:mm'}}</span></td>
              </tr>
              <tr class="table-booking-tr">
                <td>Предоплата</td>
                <td>
                  <span *ngIf="room.rates[0].paymentTyme === 'AT_WEB'">Предоплата не взымается</span>
                  <span *ngIf="room.rates[0].paymentTyme !== 'AT_WEB'">Предоплата взымается</span>
                </td>
              </tr>
              <tr class="table-booking-tr">
                <td>Комментарий</td>
                <td>{{room.rates[0].rateComments}}</td>
              </tr>
              <tr class="table-booking-tr">
                <td>Статус</td>
                <td [ngClass]="{'status-room-confirm':room.status === 'CONFIRMED', 'status-room-canceled': room.status === 'CANCELED_BY_HOTEL'}">{{room.status}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
