<div class="container">
  <h3>Сведенья об объекте</h3>
  <hr>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label class="form-text">Название на украинском</label>
        <input class="form-control" [(ngModel)] = "hotelInfo.titleUA">
      </div>
      <div class="form-group">
        <label class="form-text">Название на английском</label>
        <input class="form-control" [(ngModel)] = "hotelInfo.titleEN">
      </div>
      <div class="form-group">
        <label class="form-text">Название на русском</label>
        <input class="form-control" [(ngModel)] = "hotelInfo.titleRU">
      </div>
      <div class="form-group">
        <label class="form-text">Тип объекта</label>
        <select class="form-control" [(ngModel)]="hotelInfo.type.id">
          <option *ngFor="let type of hotelTypes" value="{{type.id}}">{{type.title}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-text">Email</label>
        <input class="form-control" [(ngModel)] = "hotelInfo.email">
      </div>
      <div class="form-group">
        <label class="form-text">Звёзды</label>
        <select class="form-control" [(ngModel)]="hotelInfo.stars">
          <option value="0">не используются</option>
          <option value="1">1 &#9733;</option>
          <option value="2">2 &#9733;&#9733;</option>
          <option value="3">3 &#9733;&#9733;&#9733;</option>
          <option value="4">4 &#9733;&#9733;&#9733;&#9733;</option>
          <option value="5">5 &#9733;&#9733;&#9733;&#9733;&#9733;</option>
        </select>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="form-text">Адресс</label>
        <input autocorrect="off" autocapitalize="off" spellcheck="off" id="address" type="text" class="form-control" #search value="{{hotelInfo.location.address}}">
      </div>
      <agm-map (mapClick)="mapClicked($event)" [latitude]="hotelInfo.lat" [longitude]="hotelInfo.lng" [scrollwheel]="false" [streetViewControl]="false" [zoom]="8">
        <agm-marker [latitude]="hotelInfo.lat"
                    [longitude]="hotelInfo.lng"
                    [markerDraggable]="true"
                    (dragEnd)="mapClicked($event)"
        ></agm-marker>
      </agm-map>
    </div>
    <div class="col-12 text-right"><button (click)="saveHotelInfo()" class="btn btn-success">Сохранить</button></div>
  </div>
  <h3>Описание объекта</h3>
  <hr>
  <div class="row">
    <div class="col-6">
      <h5>Описание пользователя</h5>
      <div class="form-group userdesc">
        <label class="form-text">Комнаты</label>
        <span>{{hotelDescription.rooms}}</span>
      </div>
      <div class="form-group userdesc">
        <label class="form-text">Питание</label>
        <span>{{hotelDescription.nutrition}}</span>
      </div>
      <div class="form-group userdesc">
        <label class="form-text">Расположение</label>
        <span>{{hotelDescription.location}}</span>
      </div>
      <div class="form-group userdesc">
        <label class="form-text">Окружение</label>
        <span>{{hotelDescription.environment}}</span>
      </div>
    </div>
    <div class="col-6">
      <h5>Что будет показано</h5>
      <tabset type="pills">
        <tab heading="Ua">
          <div class="form-group">
            <label class="form-text">Комнаты</label>
            <textarea class="form-control" ([ngModel]) = "hotelDescriptionEdit.roomsUa"></textarea>
          </div>
          <div class="form-group">
            <label class="form-text">Питание</label>
            <textarea class="form-control" ([ngModel]) = "hotelDescriptionEdit.nutritionUa"></textarea>
          </div>
          <div class="form-group">
            <label class="form-text">Расположение</label>
            <textarea class="form-control" ([ngModel]) = "hotelDescriptionEdit.locationUa"></textarea>
          </div>
          <div class="form-group">
            <label class="form-text">Окружение</label>
            <textarea class="form-control" ([ngModel]) = "hotelDescriptionEdit.environmentUa"></textarea>
          </div>
        </tab>
        <tab heading="En">
          <div class="form-group">
            <label class="form-text">Комнаты</label>
            <textarea class="form-control" ([ngModel]) = "hotelDescriptionEdit.roomsEn"></textarea>
          </div>
          <div class="form-group">
            <label class="form-text">Питание</label>
            <textarea class="form-control" ([ngModel]) = "hotelDescriptionEdit.nutritionEn"></textarea>
          </div>
          <div class="form-group">
            <label class="form-text">Расположение</label>
            <textarea class="form-control" ([ngModel]) = "hotelDescriptionEdit.locationEn"></textarea>
          </div>
          <div class="form-group">
            <label class="form-text">Окружение</label>
            <textarea class="form-control" ([ngModel]) = "hotelDescriptionEdit.environmentEn"></textarea>
          </div>
        </tab>
        <tab heading="Ru">
          <div class="form-group">
            <label class="form-text">Комнаты</label>
            <textarea class="form-control" ([ngModel]) = "hotelDescriptionEdit.roomsRu"></textarea>
          </div>
          <div class="form-group">
            <label class="form-text">Питание</label>
            <textarea class="form-control" ([ngModel]) = "hotelDescriptionEdit.nutritionRu"></textarea>
          </div>
          <div class="form-group">
            <label class="form-text">Расположение</label>
            <textarea class="form-control" ([ngModel]) = "hotelDescriptionEdit.locationRu"></textarea>
          </div>
          <div class="form-group">
            <label class="form-text">Окружение</label>
            <textarea class="form-control" ([ngModel]) = "hotelDescriptionEdit.environmentRu"></textarea>
          </div>
        </tab>
      </tabset>
    </div>
    <div class="col-12 text-right"><button (click)="saveDescription()" class="btn btn-success">Сохранить</button></div>
  </div>
</div>
