@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import "~font-awesome/css/font-awesome.min.css";
@import "~froala-editor/css/froala_editor.pkgd.min.css";
@import "~froala-editor/css/froala_style.min.css";
body, html {
  cursor: default;
}
.btn.disabled, .btn:disabled {
  opacity: 0.25;
}
a {
  line-height: 1;
}
.btn-go {
  padding: 1px 2px 2px;
  margin-left: 10px;
  line-height: 1;
}
.icon-noactive {
  opacity: 0.4;
}
.pointer {
  cursor: pointer;
}
agm-map {
  height: 350px;
}
table tr.odd {
  display: none;
}
